body {
	background-color: #20aaff
}

.col-md-6 {
	text-align: center;
}

.form-inline {
	margin-left: 22%;
}

#search {
	display: inline;
	float: right;
}

h5 {
	padding: 10px;
}

.results{
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	border-color: #0077ff;
	background-color: white;
	padding: 2px;
}

.results a{
	padding-left: 20px;
}

button a, button a:hover,.results a:hover {
	text-decoration: none;
}