body {
	background-color: #20aaff
}

.col-md-6 {
	text-align: center;
}

.form-inline {
	margin-left: 22%;
}

#search {
	display: inline;
	float: right;
}

h5 {
	padding: 10px;
}

.results {
	display: none;
	font-size: 20px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #000;
	background-color: white;
	padding: 2px;
	box-shadow: 4px 5px;
}

.results:hover {
	box-shadow: 6px 8px;
}

.results a {
	padding-left: 20px;
}

button a, button a:hover,.results a:hover {
	text-decoration: none;
}